{{ define "entry" }}
<li class="entry">
  <h4>{{ .Site }}</h4>
  <span class="entry-field"><span>username</span>{{ .Username }}</span>
  <span class="entry-field"><span>notes</span>{{ .Notes }}</span>
  <span class="entry-field"><span>date</span>{{ .Timestamp.Format "02-01-2006" }}</span>
  <div class="reveal-container">
    <span id="password-{{ .Id }}" class="entry-field">password</span>
    <div>
        <span>•••••••</span>
        <button class="btn" hx-get="/reveal/{{ .Id }}" hx-swap="outerHTML" hx-target="closest div">
          x
        </button>
    </div>
  </div>
  <div class="action-container">
      <button class="btn" hx-delete="/delete/{{ .Id }}" hx-confirm="Are you sure?" hx-swap="outerHTML" hx-target="closest li">
        delete
      </button>
  </div>
</li>
{{ end }}
