{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/styles.css">
    <title>sanctum</title>
  </head>
  <body>
    <header>
      <h1>sanctum</h1>
      {{ if .IsLoggedIn }}
        <button class="btn" hx-post="/logout" hx-target="body">logout</button>
      {{ end }}
    </header>
  </body>
</html>
{{ end }}
