{{ define "login" }} {{ template "layout" . }} {{ if .IsNew }}
<form hx-post="/register" hx-target="body" method="POST">
  <div>
    <input placeholder="master password" type="password" name="masterpassword" required />
    <button class="btn" type="submit">create vault</button>
  </div>
</form>
{{ else }}
<form hx-post="/login" hx-target="body" method="POST">
  {{ if .Error }}
    <span class="error">{{ .Error }}</span>
  {{ end }}
  {{ if .Success }}
    <span class="success">{{ .Success }}</span>
  {{ end }}
  <div>
    <input placeholder="master password" type="password" name="masterpassword" required />
    <button class="btn" type="submit">login</button>
  </div>
</form>
{{ end }} {{ end }}
