{{ define "vault" }}
  {{ template "layout" . }}
  <h2>vault</h2>
  <div class="vault">
    <form hx-post="/add" hx-target="#entries" hx-swap="beforeend" method="POST">
      <input placeholder="site" type="text" name="site" required />
      <input placeholder="username" type="text" name="username" required />
      <div>
        <input placeholder="password" id="password" type="password" name="password" required />
        <button class="btn" hx-get="/generate" hx-target="#password" hx-swap="outerHTML">generate</button>
      </div>
      <textarea placeholder="notes" name="notes"></textarea>
      <button class="btn" type="submit">add</button>
    </form>
    <ul id="entries">
      {{ range .Entries }}
        {{ template "entry" . }}
      {{ end }}
    </ul>
  </div>
{{ end }}