{{ define "vault" }} {{ template "layout" . }}
<h2>Vault</h2>
<form
  hx-post="/add"
  hx-target="#entries"
  hx-swap="beforeend"
  method="POST"
  hx-on::after-request="if(event.detail.successful) this.reset()"
>
  <label for="site">Site</label>
  <input type="text" name="site" required />
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <label for="notes">Notes</label>
  <textarea name="notes" required></textarea>
  <button type="submit">Add entry</button>
</form>
<ul id="entries">
  {{ range .Entries }} {{ template "entry" . }} {{ end }} {{ end }}
</ul>
