{{ define "vault" }} {{ template "layout" . }}
<h2>Vault</h2>
<form hx-post="/add" hx-target="#entries" hx-swap="beforeend" method="POST">
  <label for="site">Site</label>
  <input type="text" name="site" required />
  <label for="username">Username</label>
  <input type="text" name="username" required />
  <label for="password">Password</label>
  <input id="password" type="password" name="password" required />
  <button hx-get="/generate" hx-swap="outerHTML" hx-target="#password">Generate password</button>
  <label for="notes">Notes</label>
  <textarea name="notes"></textarea>
  <button type="submit">Add entry</button>
</form>
<ul id="entries">
  {{ range .Entries }} {{ template "entry" . }} {{ end }} {{ end }}
</ul>
